.choices__inner {
    max-width: 400px;
    background-color: white;
    border-radius: 4px;
    min-height: auto;
    border-color: #7e8993;
}

.choices__list--multiple .choices__item {
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 7px;
    background-color: #f2f2f2;
    border: 1px solid #cccccc;
    color: #3c3c3c;
}

input[type=text].choices__input--cloned, 
input[type=text] .choices__input--cloned:focus {
    box-shadow: none !important;
    border: none !important;
    outline: 0 !important;
    background: transparent !important;
}

.choices[data-type*=select-multiple] .choices__button, 
.choices[data-type*=text] .choices__button {
    border-left: 1px solid #cccccc;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjNTc1NzU3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
}

.choices__list--multiple .choices__item.is-highlighted {
    background-color: #dedede;
    border: 1px solid #cccccc;
}